.fybLobby Button {
    background-color: var(--commonButtonBackgroundColour);
    border-color: var(--commonButtonBorderColour);
    color: var(--commonButtonTextColour);
}
.FryLetter {
    font-family: monospace;
    text-align: center;
    padding-left: 2px;
}
.heart {
    color: red;
}