.heart {
    color: red;
}
.long {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
}
.fryLetterActionButton {
    margin-left: 5px;
    border: none;
    padding: 0px 0px 0px 0px;
}
.fryLetterActionButtonIcon {
    margin: 5px 0px 0px 0px;
}
.fryLetterDiv {
    background-color: black;
    color: whitesmoke;
    width: fit-content;
    padding: 2px 10px 2px 2px;
    margin: 0px 0px 10px 10px;
    user-select: none;
}
.fybFryLetter {
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
    padding: 0px 2px;
}
.fybFryLetter.Selected {
    color: blue;
    border-style: inset;
    border-width: thick;
    border-color: blue;
    background-color: whitesmoke;
}
.thinChat {
    border: none;
    max-height: 600px;
    overflow-y: scroll;
}
.thinChatFrom {
    background-color: black;
    color: white;
}
.thinChatFrom::before {
    content: ">";
    color: yellow;
}
.thinChatFrom::after {
    content: ":";
    color: yellow;
    font-size: small;
}
.thinChatMsg {
    font-style: italic;
    color:whitesmoke;
    background-color: black;
}
.thinChatInput {
    font-style: italic;
    color:whitesmoke;
    background-color: blue;
    width: 100%;
}
.thinChatInputEmpty {
    background-color: whitesmoke;
    width: 100%;
    max-block-size: 30px;
    cursor: text;
}
