.tm_numMovesDiv {
    margin-top: 5px;
    background-color: blue;
    color: whitesmoke;
    padding: 5px 5px;
    text-align: center;
}
.tm_numMovesSelected {
    background-color: whitesmoke;
    color: black;
    margin-right: 2px;
}
.tm_numMovesSelected:focus {
    outline: none;
}
.tm_numMovesUnselected {
    background-color: black;
    color: whitesmoke;
    outline: none;
    margin-right: 2px;
}
.tm_numMovesUnselected:focus {
    outline: none;
}
.tm_startPuzzleDiv {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.tm_puzzleDiv {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: blue;
    color: whitesmoke;
}
.tm_puzzleDiv td:nth-child(odd) {
    background-color: blue;
    padding-right: 10px;
}
.tm_puzzleDiv td:nth-child(even) {
    background-color: black;
    padding: 0px 5px;
    color: whitesmoke;
    text-transform: uppercase;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.tm_puzzleDiv p {
    margin-top: 15px;
}
.tm_solutionDiv {
    background-color: blue;
    color: whitesmoke;
    align-items: center;
}
.tm_solutionDiv table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.tm_solutionDiv td {
    text-transform: uppercase;
}
.tm_solutionDiv tr:first-child {
    background-color: black;
}
.tm_solutionDiv tr:last-child {
    background-color: black;
}