html,
body {
  background-color: #404040;
  color: burlywood;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.myHeadingFont { /* pb */
  font-family: var(--commonHeaderFontFamily);
}
.myCommonFont { /* pb */
  font-family: var(--commonFontFamily);
}
.mymaterialicon {
  border-style: none;
  outline: none;
}
.mymaterialicon:focus {
  outline: none;
  }
.fivepxdivider { /* fyb */
  line-height: 5px;
}
.floatright {
  float: right;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
.aligntop {
  vertical-align: top;
}
.equispaced {
  font-family: monospace;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.mainMenuOptions {
  padding: 2px;
}
.mainMenuOptions button {
  margin-bottom: 5px;
}
.acknowledgements {
  padding: 2px;
}
.acknowledgements div {
  margin-bottom: 5px;
}
.artworkDiv {
  color: black;
  background-color: cyan;
  width: 370px;
}
.artworkDiv div {
  display: flex;
  justify-content: space-between;
}

.moveLeftButton {
  background-color: blue;
  color: cyan;
  height: 30px;
  width: 30px;
}
.moveRightButton {
  background-color: blue;
  color: cyan;
  height: 30px;
  width: 30px;
}
.artwork1 {
  background-image: url('../public/MorphoCaterpillar.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 370px;
}
.artwork2 {
  background-image: url('../public/MorphoCocoon.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  width: 370px;
}
.artwork3 {
  background-image: url('../public/MorphoButterfly.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 370px;
}
.artwork4 {
  background-image: url('../public/transmogrify.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 225px;
  width: 370px;
}
/* Custom keyboards */
.switchkb {
  display: flex;
  justify-content: center;
}
/* Version 1 */
.customKeyboardV1 {
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 0px;
  background-color: white;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width: 370px;
}
.ckv1Row1 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 15px;
}
.ckv1Row2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.ckv1Row3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 10px;
}
.customKeyboardV1 span {
  text-align: center;
  margin: 0px 1px;
  padding: 5px 8px;
  font-size: large;
}

.ckv1 {
  background-size: cover;
  width: 35px;
  height: 35px;
}
.ckv1.A {
  background-image: url('../public/Keyboards/v1/A.jpg'); 
}
.ckv1.B {
  background-image: url('../public/Keyboards/v1/B.jpg'); 
}
.ckv1.C {
  background-image: url('../public/Keyboards/v1/C.jpg'); 
}
.ckv1.D {
  background-image: url('../public/Keyboards/v1/D.jpg'); 
}
.ckv1.E {
  background-image: url('../public/Keyboards/v1/E.jpg'); 
}
.ckv1.F {
  background-image: url('../public/Keyboards/v1/F.jpg'); 
}
.ckv1.G { 
  background-image: url('../public/Keyboards/v1/G.jpg'); 
}
.ckv1.H {
  background-image: url('../public/Keyboards/v1/H.jpg');
}
.ckv1.I {
  background-image: url('../public/Keyboards/v1/I.jpg');
}
.ckv1.J {
  background-image: url('../public/Keyboards/v1/J.jpg');
}
.ckv1.K {
  background-image: url('../public/Keyboards/v1/K.jpg');
}
.ckv1.L {
  background-image: url('../public/Keyboards/v1/L.jpg');
}
.ckv1.M {
  background-image: url('../public/Keyboards/v1/M.jpg'); 
}
.ckv1.N {
  background-image: url('../public/Keyboards/v1/N.jpg'); 
}
.ckv1.O {
  background-image: url('../public/Keyboards/v1/O.jpg'); 
}
.ckv1.P {
  background-image: url('../public/Keyboards/v1/P.jpg'); 
}
.ckv1.Q {
  background-image: url('../public/Keyboards/v1/Q.jpg');
}
.ckv1.R {
  background-image: url('../public/Keyboards/v1/R.jpg');
}
.ckv1.S {
  background-image: url('../public/Keyboards/v1/S.jpg');
}
.ckv1.T {
  background-image: url('../public/Keyboards/v1/T.jpg');
}
.ckv1.U {
  background-image: url('../public/Keyboards/v1/U.jpg');
}
.ckv1.V {
  background-image: url('../public/Keyboards/v1/V.jpg');
}
.ckv1.W {
  background-image: url('../public/Keyboards/v1/W.jpg');
}
.ckv1.X {
  background-image: url('../public/Keyboards/v1/X.jpg');
}
.ckv1.Y {
  background-image: url('../public/Keyboards/v1/Y.jpg');
}
.ckv1.Z {
  background-image: url('../public/Keyboards/v1/Z.jpg');
}
.ckv1.Backspace {
  background-image: url('../public/Keyboards/v1/backspace.jpg');
}
.ckv1Word {
  display: flex;
  justify-content: center;
}
/* Version 2 */
.customKeyboardV2 {
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: var(--trcssPageBG);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 370px;
}
.ckv2Row1 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 15px;
}
.ckv2Row2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.ckv2Row3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 10px;
}
.customKeyboardV2 span {
    border: 1px solid white;
    border-radius: 5px;
    background-color: blue;
    text-align: center;
    margin: 0px 2px;
    padding: 5px 8px;
    font-size: large;
}
/* Version 3 */
.customKeyboardV3 {
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 0px;
  background-color: white;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width: 370px;
}
.ckv3Row1 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 15px;
}
.ckv3Row2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.ckv3Row3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 10px;
}
.customKeyboardV3 span {
  text-align: center;
  margin: 0px 1px;
  padding: 5px 8px;
  font-size: large;
}

.ckv3 {
  background-size: cover;
  width: 35px;
  height: 35px;
}
.ckv3.A {
  background-image: url('../public/Keyboards/v3/A.png'); 
}
.ckv3.B {
  background-image: url('../public/Keyboards/v3/B.png'); 
}
.ckv3.C {
  background-image: url('../public/Keyboards/v3/C.png'); 
}
.ckv3.D {
  background-image: url('../public/Keyboards/v3/D.png'); 
}
.ckv3.E {
  background-image: url('../public/Keyboards/v3/E.png'); 
}
.ckv3.F {
  background-image: url('../public/Keyboards/v3/F.png'); 
}
.ckv3.G { 
  background-image: url('../public/Keyboards/v3/G.png'); 
}
.ckv3.H {
  background-image: url('../public/Keyboards/v3/H.png');
}
.ckv3.I {
  background-image: url('../public/Keyboards/v3/I.png');
}
.ckv3.J {
  background-image: url('../public/Keyboards/v3/J.png');
}
.ckv3.K {
  background-image: url('../public/Keyboards/v3/K.png');
}
.ckv3.L {
  background-image: url('../public/Keyboards/v3/L.png');
}
.ckv3.M {
  background-image: url('../public/Keyboards/v3/M.png'); 
}
.ckv3.N {
  background-image: url('../public/Keyboards/v3/N.png'); 
}
.ckv3.O {
  background-image: url('../public/Keyboards/v3/O.png'); 
}
.ckv3.P {
  background-image: url('../public/Keyboards/v3/P.png'); 
}
.ckv3.Q {
  background-image: url('../public/Keyboards/v3/Q.png');
}
.ckv3.R {
  background-image: url('../public/Keyboards/v3/R.png');
}
.ckv3.S {
  background-image: url('../public/Keyboards/v3/S.png');
}
.ckv3.T {
  background-image: url('../public/Keyboards/v3/T.png');
}
.ckv3.U {
  background-image: url('../public/Keyboards/v3/U.png');
}
.ckv3.V {
  background-image: url('../public/Keyboards/v3/V.png');
}
.ckv3.W {
  background-image: url('../public/Keyboards/v3/W.png');
}
.ckv3.X {
  background-image: url('../public/Keyboards/v3/X.png');
}
.ckv3.Y {
  background-image: url('../public/Keyboards/v3/Y.png');
}
.ckv3.Z {
  background-image: url('../public/Keyboards/v3/Z.png');
}
.ckv3.Backspace {
  background-image: url('../public/Keyboards/v3/Backspace.png');
}
.ckv3Word {
  display: flex;
  justify-content: center;
}
