html,
body {
  background-color: #404040;
  color: burlywood;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.myHeadingFont { /* pb */
  font-family: var(--commonHeaderFontFamily);
}
.myCommonFont { /* pb */
  font-family: var(--commonFontFamily);
}
.mymaterialicon {
  border-style: none;
  outline: none;
}
.mymaterialicon:focus {
  outline: none;
  }
.fivepxdivider { /* fyb */
  line-height: 5px;
}
.floatright {
  float: right;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
.aligntop {
  vertical-align: top;
}
.equispaced {
  font-family: monospace;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.mainMenuOptions {
  padding: 2px;
}
.mainMenuOptions button {
  margin-bottom: 5px;
}
.acknowledgements {
  padding: 2px;
}
.acknowledgements div {
  margin-bottom: 5px;
}
