@import url("https://fonts.googleapis.com/css?family=Merriweather|Open Sans");
:root {
  --commonBorderColour: grey;/* blue; /*darkslateblue*/
  --commonTextBackgroundColour: black;
  --commonTextColour: whitesmoke;
  --commonHeaderFontFamily: Merriweather;
  --commonFontFamily: 'Open Sans', sans-serif;
  --commonButtonBackgroundColour: forestgreen;
  --commonButtonTextColour: whitesmoke;
  --commonButtonBorderColour: black;
}
.commonHeaderFontFamily {
  font-family: var(--commonHeaderFontFamily);
}
.commonFontFamily {
  font-family: var(--commonFontFamily);
}
html,
body {
  background-color: darkgrey;
  color: black;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.myHeadingFont {
  font-family: var(--commonHeaderFontFamily);
}
.mySubHeadingFont {
  font-family: var(--commonFontFamily);
}
.myCommonFont {
  font-family: var(--commonFontFamily);
}
.mymaterialicon {
  border-style: none;
  outline: none;
}
.mymaterialicon:focus {
  outline: none;
  }
.textaligncenter {
  text-align: center;
}
.fivepxdivider {
  line-height: 5px;
}
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
