.menuHeaderDiv {
    /* background-color: teal; */
    color: black;
    padding-left: 5px;
}
.menuButton {
    border-radius: 50pc;
    border-width: 2px;
    padding: 5px 10px;
    background-color: teal;
    border-color: black;
    color: whitesmoke;
}
.menuToggleDescButton {
    background-color: teal;
    margin-left: 5px;
    padding: none;
}
.menuToggleDescButton.Y {
    background-color: black;
    color:burlywood;
}
.menuToggleDescButton.N {
    color: whitesmoke;
}
.menuOptionDescDiv {
    background-color: green;
}
.menuOptTable {
    /* background-color: black; */
    padding: 10px;
}
.menuOptTable td{
    padding: 10px 20px;
}
.menuAckTable {
    color: black;
}
.menuAckTable tr td:nth-child(1) {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menuAckTable td {
    padding: 10px 20px;
}
