.menu {
    font-family: var(--commonFontFamily);
    color: var(--commmonTextColour);
    border-width: 10px;
    border-color: green;
    border-style: groove;
    padding-top: 5px;
}
.menu.mobile {
    margin-left: 5px;
    margin-top: 5px;
    max-width: var(--commonMobileMaxWidth);
}
.menu.notmobile {
    margin-left: 25px;
    margin-top: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    max-width: var(--commonMobileMaxWidth);
}
.menuHeaderDiv {
    padding-left: 5px;
    font-family: var(--commonHeaderFontFamily);
    font-weight: bold;
}
.menuButton {
    border-radius: 50pc;
    border-width: 2px;
    padding: 5px 10px;
    background-color: var(--commonButtonBackgroundColour);
    border-color: var(--commonButtonBorderColour);
    color: var(--commonButtonTextColour);
}
.menuToggleDescButton {
    background-color: var(--commonButtonBackgroundColour);
    margin-left: 5px;
    padding: none;
}
.menuToggleDescButton.Y {
    border-color: burlywood;
    background-color: black;
    color:burlywood;
}
.menuToggleDescButton.N {
    border-color: var(--commonButtonBorderColour);
    color: var(--commonButtonTextColour);
}
.menuOptionDescDiv {
    background-color: black;
    color:burlywood;
}
.menuOptTable {
    padding: 0px;
}
.menuOptTable td{
    padding: 10px 5px;
}
.menuAckTable tr td:nth-child(1) {
    font-weight: bold;
}
.menuAckTable td {
    padding: 10px 20px;
}
