.prisonbreak {
    background-color: teal;
}
.pbtitle {
    background-color: #16271a;
    font-size: 2.8em;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    color:red;
}
.pbhomelink {
    background-color: #16271a;
    text-align: right;
}
.pbPrisoners {
    font-size: x-large;
}
.pbGuards {
    font-size: x-large;
}
.pbSquare {
    background-color: cadetblue;
    /* border: darkgray;
    border-style: solid; */
    width: 40px;
    color: cornsilk;
    text-align: center;
}
.pbSquare2 {
    background-color: rgb(27, 86, 88);
    /* border: darkgray;
    border-style: solid; */
    width: 40px;
    color: cornsilk;
    text-align: center;
}
.pbSquareCenterSquare {
    background-color: darkslateblue;
    /* border: darkgreen;
    border-style: inset; */
    width: 40px;
    color: cornsilk;
    font-size: x-large;
}
.pbSquareEscapeHatch {
    background-color: darkslateblue;
    /* border: darkgreen;
    border-style: inset; */
    width: 40px;
    color: cornsilk;
    text-align: center;
}
.pbSquareUsedByPrisoners {
    background-color: blueviolet;
    /* border: black;
    border-style: solid; */
    width: 40px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
}
.pbSquareUsedByGuards {
    background-color: black;
    /* border: blueviolet;
    border-style: solid; */
    width: 40px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
}
.pbRow {
    line-height: 40px;
}
.pbBoard {
    background-color: teal;
}
.pbGame {
    background-color: cadetblue;
}
.pbTilepool {
    text-align: right;
    color: burlywood;
    font-family: monospace;
    font-size: large;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 165px;
}
.pbTilepoolDivider {
    height: 2px;
}
.pbTilepoolTile {
    padding-left: 2px;
    padding-right: 2px;
}
.pbTilerack {
    margin-top: 5px;
}
.pbTileOnRackP {
    background-color: blueviolet;
    border: black;
    border-style: solid;
    width: 40px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}
.pbTileOnRackSelectedP {
    background-color: blueviolet;
    border: white;
    border-style: inset;
    width: 40px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}
.pbTileOnRackG {
    background-color: black;
    border: blueviolet;
    border-style: solid;
    width: 40px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}
.pbTileOnRackSelectedG {
    background-color: black;
    border: white;
    border-style: inset;
    width: 40px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}
.pbBreakfree {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
.pbFinishTurn {
    margin-left: 5px;
}
.pbRecallTiles {
    margin-left: 5px;
}