.wititle {
  background-color: grey;
  font-size: 2.8em;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  color:black;
}
.wihomelink {
  background-color: grey;
  color: black;
  text-align: right;
}
.wibody {
  /* Without the margins you see a useless vertical scrollbar */
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: darkgray;
  color: whitesmoke;
}
.tooltip {
  position: top;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.displayWordRow {
  line-height: 100%;
}
.divider {
  line-height: 5px;
  border-bottom: cyan;
  border-bottom-style: ridge;
}
.letterInput {
  border: 1px solid black;
  background-color: darkgreen;
  color: azure;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}
.letter {
  border: 1px solid black;
  background-color: darkgreen;
  color: azure;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  width: 30px;
  font-size: large;
}
.letterInvalidWord {
  border: 1px solid black;
  background-color: red;
  color: azure;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  width: 30px;
  font-size: large;
}
.facevalue {
  text-align: left;
  vertical-align: bottom;
  width: 20px;
}
.wordIsValid {
  vertical-align: middle;
  color: blue;
  margin-left: 10px;
}
.wordIsNotValid {
  vertical-align: middle;
  color: red;
  font-style: italic;
  margin-left: 10px;
}
.insertCount {
  background-color: teal;
  color: white;
  border-radius: 100%;
  text-align: center;
  width: 20px;
}
.insertCountSpacer {
  width: 20px;
}
.swapCount {
  background-color: cornflowerblue;
  color: darkblue;
  border-radius: 100%;
  /* border-left: 5px solid darkgray;
  border-right: 5px solid darkgray; */
  text-align: center;
}
.anagramCount {
  background-color: slategray;
  color: lightgreen;
  border-radius: 100%;
  text-align: center;
  border-left: 5px solid slategray;
  border-right: 5px solid slategray;
}
.dropRow {
  line-height: 5px;
}
.dropIndicator {
  color: black;
  text-align: center;
  vertical-align: top;
  font-weight: bolder;
  font-size: x-large;
}
.balloonstring {
  text-align: center;
  vertical-align: top;
  color: white;
  transform: rotate(90deg);  
}
