.morphoDiv {
    margin-top: 10px;
    margin-left: 10px;
}
.morphoSolvedDiv {
    background-image: url('../../public/tileButterflyStage.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
    margin-left: 10px;
    width: 350px;
    height: 400px;
}
.morphoCell {
    height: 50px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.morphoCellStatic { /* Provided by the puzzle */
    font-weight: bold;
    background-image: url('../../public/tile.png');
}
.morphoCellNoLetter {
    background-color: burlywood;
}
.morphoCellLarva {
    background-image: url('../../public/tileLarvalStage.png');
    color: whitesmoke;
    font-weight: bold;
}
.morphoCellCocoon {
    background-image: url('../../public/tileCocoonStage.png');
    color: whitesmoke;
    font-weight: bold;
}
.morphoCellSelected {
    border: 3px solid black;
}
.morphoCellButterfly {
    color: whitesmoke;
    font-weight: bold;
}
.morphoKeyboard {
    background-color: blue;
    color: whitesmoke;
    width: 350px;
    margin-bottom: 5px;
}
.morphoKeyrow1 {
    margin-left: 1px;
}
.morphoKeyrow2 {
    margin-left: 10px;
}
.morphoKeyrow3 {
    margin-left: 21px;
}
.morphoKeyrow4 {
    text-align: center;
    padding-bottom: 2px;
}
.morphoKey {
    border-width: 2px;
    border-radius: 100%;
    border-color: black;
    margin: 3px;
    width: 28px;
}
.morphoCopydownKey {
    border-width: 2px;
    border-color: black;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.morphoCopyupKey {
    border-width: 2px;
    border-color: black;
}
.morphoSubmitKey {
    border-width: 2px;
    border-color: black;
    margin-left: 10px;
    margin-right: 5px;
}